a { /* change the appearance of ALL links */
text-decoration: none;
color: purple;
}

.about{
background-color: rgb(231, 56, 204);
}

.skills{
background-color: rgb(68, 31, 161);
}

.contact{
background-color: rgb(239, 224, 52);

}

.skills{
background-color: rgb(68, 31, 161);
}

.contact{
background-color: rgb(225, 147, 12);

}

.projects {
     display:flex; 
     flex-wrap:wrap;
     } 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background-color: rgb(33, 236, 73);
border-radius: 25%;
}
.project img{
width: 100%;
height: auto;
margin: 15px;
border: 2px solid rgb(0, 0, 0); 
display: block;
margin: auto;
}
.project p { 
text-align: center;
margin: 15px;
}
.project h3 { 
text-align: center;
margin: 15px;
}

