.about{
background-color: rgb(231, 56, 204);
}

.skills{
background-color: rgb(68, 31, 161);
}

.contact{
background-color: rgb(239, 224, 52);

}

.skills{
background-color: rgb(68, 31, 161);
}

.contact{
background-color: rgb(225, 147, 12);

}

.projects {
     display:flex; 
     flex-wrap:wrap;
     } 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background-color: rgb(33, 236, 73);
border-radius: 25%;
}
